@import './nav.scss';
@import './home.scss';
@import './poll.scss';

body {
  background-color: #eee;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin: 1em;
  border-radius: 30vh;
  pointer-events: none;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login {
  border: 2px double #ccc;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 3em;
  box-shadow: 3px 3px 15px #ccc, -3px -3px 15px #ccc;
  input {
    margin: 1em auto;
    display: block;
    width: 50%;
  }
  button {
    margin: 1em;
    width: 50%;
  }
}
