section {
  max-width: 700px;
  margin: auto;
  padding: 0.5em;
  .questions {
    display: flex;
    justify-content: space-around;
    h3 {
      background-color: #eee;
      font-size: 1.1em;
      border: 1px solid #ccc;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      width: 100%;
      padding: 0.5em 0;
      margin: 0;
      display: inline;
      &:hover {
        background-color: #bbb;
        cursor: pointer;
      }
    }
    .active-true {
      background-color: #bbb;
    }
  }
  .question-list {
    border: 1px solid #ccc;
  }
  .question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em;
    padding-bottom: 0.5em;
    border: 1px solid #ccc;
    .question-header {
      width: 100%;
      background-color: #bbb;
      margin-top: 0;
      padding: 0.3em;
    }
    img {
      margin: auto;
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
    .inline-div {
      border-left: 1px solid #ccc;
      width: 60%;
      button {
        width: 80%;
      }
    }
  }
}
