@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans:700|Open+Sans:400,600&display=swap');

$xlight-green: #d3facf;
$light-green: #25ad17;
$green: #168f09;
$dark-green: #0b7600;
$xdark-green: #085800;

$light-purple: #ddb5ed;
$purple: #a657c5;
$dark-purple: #340247;

$light-orange: #ffe5ba;
$orange: #af6f0b;
$dark-orange: #6b4200;

$header-font: 'Balsamiq Sans', cursive;
$normal-font: 'Open Sans', sans-serif;

.container {
  background-image: linear-gradient(to right top, $xlight-green, #fff, $light-orange);
  min-height: 100vh;
}
section {
  max-width: 700px;
  margin: 2em auto;
}
.questions {
  display: flex;
  justify-content: space-around;
  h3 {
    background-color: $xlight-green;
    font-size: 1.1em;
    font-family: $header-font;
    line-height: 2.2em;
    color: $green;
    border-top: 1px solid $light-green;
    border-right: 1px solid $light-green;
    border-left: 1px solid $light-green;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin: 0;
    display: inline;
    &:hover {
      border-top: 1px solid $light-green;
      border-right: 1px solid $light-green;
      border-left: 1px solid $light-green;
      background-color: $light-green;
      color: $xlight-green;
      cursor: pointer;
    }
  }
  .active-true {
    border-top: 1px solid $orange;
    border-right: 1px solid $orange;
    border-left: 1px solid $orange;
    background-color: $orange;
    color: $light-orange;
    font-style: italic;
  }
}
.question-list {
  border: 2px solid $orange;
  margin-top: 0;
  background: $light-orange;
  padding: 1.5em;
}

.question {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  border: 1px solid $orange;
  box-shadow: 1px 1px 7px $dark-orange;
  border-radius: 1em;
  .question-header {
    font-family: $normal-font;
    font-weight: bold;
    color: $light-orange;
    width: 100%;
    background-color: $orange;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-top: 0;
    padding: 0.3em;
  }
  .inline-div {
    color: $dark-orange;
    width: 60%;
    border-left: 1px solid $orange;
    margin: 0.8em;
    button {
      width: 70%;
      margin-top: 1.5em;
      font-size: 0.85em;
      font-family: $normal-font;
      color: $xdark-green;
      cursor: pointer;
      padding: 0.1em;
      background-color: $xlight-green;
      border: 1px solid $green;
      border-radius: 7px;
      box-shadow: 1px 1px 3px $dark-green;
      &:hover {
        background-color: $green;
        color:$xlight-green;
      }
      &:active {
        background-color: $dark-green;
        box-shadow: none;
      }
    }
  }
  img {
    margin: auto;
    width: 25%;
    border-radius: 50%;
  }
}

.new-question {
  background-color: $light-orange;
  padding: 0.3em;
  border: 2px solid $orange;
  h3 {
    font-family: $header-font;
    color: $dark-orange;
    border-bottom: 1px solid $orange;
    padding-bottom: 0.5em;
  }
  p {
    font-family: $normal-font;
    font-size: 1.1em;
    color: $dark-orange;
  }
  input {
    width: 55%;
    font-size: 1em;
    padding: 0.3em;
    border: 1px solid $light-green;
    border-radius: 7px;
    background: $xlight-green;
    color: $xdark-green;
  }
  button {
    width: 55%;
    font-size: 0.85em;
    font-family: $normal-font;
    color: $xdark-green;
    cursor: pointer;
    padding: 0.1em;
    margin-top: 1.5em;
    background-color: $xlight-green;
    border: 1px solid $green;
    border-radius: 7px;
    box-shadow: 1px 1px 3px $dark-green;
    &:hover {
      background-color: $green;
      color:$xlight-green;
    }
    &:active {
      background-color: $dark-green;
      box-shadow: none;
    }
  }
}
