@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

$xlight-green: #d3facf;
$light-green: #25ad17;
$green: #168f09;
$dark-green: #0b7600;
$xdark-green: #085800;

$light-purple: #ddb5ed;
$purple: #a657c5;
$dark-purple: #340247;

$light-orange: #ffd48f;
$orange: #af6f0b;
$dark-orange: #6b4200;

$nav-font: 'Barlow', sans-serif;
$would-you-rather: 'Luckiest Guy', cursive;

nav {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $xlight-green;
  border-bottom: 2px solid $green;
  font-family: $nav-font;
  font-size: 1.1em;
  button {
    background-color: inherit;
    color: $purple;
    border: none;
    padding: 0.5em 0.8em;
    margin-left: 1em;
    cursor: pointer;
    font-size: 0.85em;
    &:hover {
      background-color: $dark-purple;
      border-radius: 70% 0;

    }
  }
  ul {
    list-style-type: none;
    a {
      color: $xdark-green;
      text-decoration: none;
      padding: 1em 0.6em;
      border-radius: 70% 0;
      &:hover {
        background-color: $green;
        color: $xlight-green
      }
      &:active {
        background-color: $purple;
        color: $light-purple;
      }
      &.selected {
        background-color: $light-orange;
        color: $dark-orange;
      }
    }
    li {
      display: inline;
      padding: 1 0.1em;
    }
  }
  .dropdown {
    margin: auto 0.2em;
    width: 4em;
    cursor: pointer;

    img {
      width: 2em;
      height: 2em;
      border-radius: 1.5em;
      margin: auto;
    }

    .dropdown-content {
      background-color: $dark-purple;
      display: none;
      height: auto;
      padding: 0.5em 0;
      position: absolute;
      right: -0;
      top: 3.3em;
    }
    &:hover .dropdown-content {
      display: block;
    }
  }

  .userboard {
    p {
      padding: 0 0.5em;
    }

    img {
      margin: auto;
      padding: 0;
      width: 2em;
      height: 2em;
      border-radius: 1.5em;
    }
  }
}

.login {
  border: 1em solid transparent;
  border-image: linear-gradient(to right top, $purple, #fff, #5abbff);
  border-image-slice: 1;
  max-width: 500px;
  margin: 5em auto;
  padding: 0.5em;
  background-color: #fff;
  box-shadow: 2px 2px 15px #555, -2px -2px 15px #555;

  h2 {
    font-family: $would-you-rather;
    font-size: 2.2em;
    color: $dark-purple;
    background: linear-gradient(to right top, #136, #5abbff, $purple, $dark-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p, label {
    color: $dark-purple;
    font-family: $nav-font;
    font-size: 1.2em;
  }

  img {
    height: 40vmin;
    margin: 0.2em;
    border-radius: 30vh;
    pointer-events: none;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 12s linear infinite;
  }

  select {
    color: $purple;
    height: 2em;
    font-size: 1em;
    font-family: $nav-font;
    margin: 1em auto;
    border: 1px solid $light-purple;
    border-radius: 5px;
    display: block;
    width: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    option {
      color: $purple;
    }
  }

  input {
    height: 2em;
    font-size: 1em;
    font-family: $nav-font;
    margin: 1em auto;
    border: 1px solid $light-purple;
    border-radius: 5px;
    display: block;
    width: 50%;
    &::placeholder {
      color: $purple;
    }
    &:focus {
      border: 1px solid $dark-purple;
      box-shadow: 2px 2px 5px $purple, -2px -2px 5px $purple;
    }
  }


  button {
    background-color: $light-purple;
    border: 1px solid $purple;
    border-radius: 5px;
    font-size: 1em;
    color: $dark-purple;
    padding: 0.3em;
    margin-bottom: 1em;
    width: 50%;
    margin-bottom: 2em;
    box-shadow: 1px 1px 3px $purple;
    cursor: pointer;
    &:hover {
      background-color: $purple;
    }
    &:disabled {
      background-color: $light-purple !important;
      color: $purple;
      cursor: not-allowed;
    }
  }
}

@media only screen and (min-width: 630px){
  .dropdown {
    display: none;
  }
  .userboard {
    display: flex;
  }
}
@media only screen and (max-width: 629px){
  .userboard {
    display: none;
  }
}
.no-match {
  margin: auto;
  max-width: 25em;
  border: 1em solid $purple;
  background: $light-purple;
  padding: 1em;
  h1 {
    color: $dark-purple;
    line-height: 1em;
    font-size: 5em;
  }
  p {
    font-size: 1.1em;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 2em;
  }
}
